/*
Color Guide

Colors used:
Background color (Alice Blue): #f0f8ff
Secondary color: 000000
Link colors:
unclicked; #003366
*/

/*-------------------------------------------Start Section---------------------------------------------*/
/*setting the default width of an element to include the padding and the border via the box-sizing property and border-box value*/
* {
  box-sizing: border-box;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*default body settings - mobile first*/

body{
    background-color: #f0f8ff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: black;
}

h1, h2, h3, h4 {
    line-height: 1.4;
}

h1 {
  font-size: 1.80em;
  font-weight: 600;
}

#hero h1 {
  text-align: center; /* Centers text */
  color: #ebebe4;
}
  
h2 {
  font-size: 1.60em;
  font-weight: 550;
}
  
h3 {
  font-size: 1.30em;
  font-weight: 500;
}

h4 {
  font-size: 1.10em;
  font-weight: 400;
}

p {
  font-size: 0.90em;
}

/*setting images to full-width*/
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*CSS code for links*/
a {
  color: #0000ff;
  text-decoration: none; /* No underlining */
}

a:hover {
  color: #41bf87;
  text-decoration: underline; /* Underlining when hovering over a link */
}
  
a:visited { /* visited link */
  color: #ebebe4;
}

a:active { /* selected link */
  color: #41bf87;
}

/*Pseudo classes for accessibility across the Web*/
a:hover,
a:focus {
  color: #41bf87;
  text-decoration: underline;
}

/*CSS code for the button class*/
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #0000ff;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000000; /* width of the border, type, color */
  transition: 0.2s opacity;
}

/*button class hover and active state*/
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

/*button rules for the mailto button*/
.button.contact {
  background-color: transparent;
  color: #0000ff;
  text-transform: uppercase;
  border: 2px solid #0000ff;
}

/*button class hover and active state*/
.button.contact:hover {
  background-color: #0000ff;
  color: #ffffff;
}

.button.contact:active {
  background-color: #0000ff;
  color: #ffffff;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*style the page sections*/

/*style the <header> element*/
header {
  background-color: #1d7581;
  width: 100%;
  padding: 10px 0 4px;
  border-bottom: 1px solid #1d7581; 
  position: relative; 
  box-shadow: 0px 7px 5px 0px rgba(50, 50, 50, 0.75)
}

/*style the logo*/
.logo{
  max-width: 150px;
}

/*Navigation Styling*/

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 700;
  color: #ebebe4;
}

nav > ul > li > a:visited {
  color: #ebebe4;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #41bf87;
  text-decoration: none;
}

nav > ul > li > a:active {
  color: #41bf87;
}

/*Style the hamburger icon*/
.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
  text-align: center;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #4a4a4a;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

#hero {
  background-color: #1d7581;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.phone.contact{
  color:#0000ff
}

/*Style the social icons*/
.social-icon {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.social-icon a {
  display: inline-block;
  width: 32px;
  text-align: center;
  margin: 0px 5px;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { 
  padding-bottom: 25px; 
  border-bottom: 1px solid #4a4a4a; 
}

.center {
  text-align: center;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/

/*Media Queries*/

/*Media query for screens 640px and up (medium devices)*/
@media only screen and (min-width: 640px) { 
  header {
    text-align: unset;
    padding: 20px 0 13px;

  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 { 
    margin-top: 0;
  }

  #index-page h4 { 
    margin-top: 0;
    margin-bottom: 15px;
  }
}

/*Media query for screens 1024px and up (large devices)*/
@media only screen and (min-width: 1024px) {
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.col-lg-7 {
  width: 60%;
}

.col-lg-5 {
  width: 40%;
}

.logo{
  max-width: 250px;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

.aboutimage {
  float: right;
  width: 50%;
  margin-left: 20px;
}
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/

/*Animations*/

/*Sun animation*/
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

/*Long way
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}*/

/*Short way*/
.sun {
  animation: 4s color-change infinite alternate linear;
}

/*Cloud animation*/
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

/*Long way
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}*/

/*Short way*/
.cloud-front {
  animation: 20s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 20s cloud-move-reverse infinite alternate linear;
}


  